@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

/* Header Styling */
.header h1 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2c3e50;
    margin-bottom: 40px;
}

/* Buttons Container */
.buttons-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Large Buttons */
.option-card {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.option-card:hover {
    transform: scale(1.05);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
}

/* Background Colors */
.yellow {
    background-color: #FFCC66;
}

.blue {
    background-color: #66D1FF;
}

.green {
    background-color: #A4D65E;
}

/* Responsive */
@media (max-width: 768px) {
    .buttons-container {
        flex-direction: column;
        gap: 20px;
    }
}
